.About-img {
<<<<<<< HEAD
    width: 110vh;
=======
    width: 40px;
>>>>>>> 55d7d287003928808f280f7cf121bc559af926c5
    height: 70vh;
}

.collum {
    width: 100vh;
}

.img-link {
    width: 13rem;
    height: 50vh;
    object-fit: cover;
}

.name-link {
    margin-top: -100px;
    text-align: center;
    font-size: 3rem;
    color: white;
}
