@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.filter-cont {
    /* margin-top: 10rem; */
    width: 100%;
    height: 100%;
    position: relative;
}

#rates-img {
    width: 300px;
    object-fit: cover;
    height: 30rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.intact,
.person {
    display: block;
    height: 60px;
    width: 100%;
}

.card1 {
    float: left;
    display: inline;
    margin-left: 5rem;
    border-radius: 10px;
    box-shadow: 1px 10px 100px #fc7f79;
}

.nightplan {
    border: 4px solid #082840;
    width: 300px;
    height: 3rem;
    margin-left: -1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    transition: 0.5s;
}

.nightplan:hover {
    background: #184058;
    color: white;
}

.card2 {
    float: right;
    margin-right: 5rem;
    box-shadow: 1px 10px 100px #7efabe;
    border-radius: 10px;
}

.dayplan {
    border: 4px solid #000;
    width: 300px;
    height: 3rem;
    margin-left: -1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    transition: 0.5s;
}

.dayplan:hover {
    background: #222322;
    color: white;
}

.card-detail {
    position: absolute;
    margin-top: -20rem;
    color: aliceblue;
    margin-left: 1rem;
}

.tour {
    font-size: 2rem;
}

.person {
    border-bottom: 3px solid white;
    border-radius: 10px;
    width: 265px;
}

.sub {
    margin-top: -30px;
    margin-bottom: -20px;
    color: #ccc;
}