/* photogallery */

.photogallery {
    width: 100%;
    height: 100vh;
    margin: 5rem;
    /* padding: 10rem; */
    font-size: 100px;
    text-align: center;
    font-weight: 700;
}

.photogallery h1 {
    font-size: 100px;
    text-align: center;
    font-weight: 700;
}

div.gallery {
    margin: 1px;
    float: left;
    width: 120px;
}

div.gallery img {
    width: 100%;
    height: auto;
}

.gallary-cont {
    width: 1500px;
    display: flexbox;
    height: 300px;
    position: absolute;
}