/* tablinks */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
}

.topright:hover {
    color: red;
}


/* pool tab */

.private {
    margin: 0 auto;
    width: 50%;
    float: left;
}

.public {
    margin: 0 auto;
    width: 50%;
    float: right;
}

.main_view {
    width: 50vh;
    height: 30rem;
}

.main_view img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.side_view {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.side_view img {
    width: 9rem;
    height: 7rem;
    object-fit: cover;
    cursor: pointer;
    margin: 0.5rem;
}


/* room */

.preview img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.preview {
    width: 50vh;
    height: 30rem;
}


/* cottage */

.img-view {
    width: 100%;
    height: 40rem;
    margin-left: 15rem;
}

.img-view img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}


/* play */

.play-img {
    width: 50vh;
    height: 30rem;
}

.play-img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}